<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060098105704-ddtd11sbl1fpb66c5ho6er95buht8uq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060098105704-ddtd11sbl1fpb66c5ho6er95buht8uq7</string>
	<key>API_KEY</key>
	<string>AIzaSyDnF560HUb5zOCPeThYxnPTiv2wvS8VbPo</string>
	<key>GCM_SENDER_ID</key>
	<string>1060098105704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lostboy.com.PDInstagram</string>
	<key>PROJECT_ID</key>
	<string>pdinstagram-a60d2</string>
	<key>STORAGE_BUCKET</key>
	<string>pdinstagram-a60d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060098105704:ios:3250e42f8acab0a9df76dd</string>
</dict>
</plist>